<h1><%= @list.name %></h1>

<nav>
  <ul>
    <li><%= link_to "Return to list", @list, :id => "return_to_current_list", :class => "back_button" %></li>
  </ul>
</nav>

<section id="todo_form">
  <h2>Edit todo:</h2>
  <%= render :partial => "todos/form" %>
</section>