// Kuler Theme (Oil Flame): http://kuler.adobe.com/#themeID/1752065
$error:       #ff3838;
$grey:        #495e67;
$teal:        #164852;
$olive:       #25373a;
$black:       #282e33;
$white:       #fff;
$background:  #eee;